* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
}
main{
  margin: 6% auto;
  height: 500px;
  width:70%;
  border-radius: 10px;
  background-color: #F5F5F5;
  padding: 20px;
  
  justify-content: center;
  align-items: center;
}
.die{
  
    height: 50px;
    width: 50px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    margin:3%;
    background-color: white;
}

.btn
{
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  margin: 10% auto;
}

.btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  
 
}

.title {
  font-size: 40px;
  margin: 2%;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin-top: 0;
  text-align: center;
}

